<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Answers" version="1.5.0" targetFramework="monoandroid81" />
  <package id="Bolts" version="1.4.0.1" targetFramework="monoandroid81" />
  <package id="Cloudinary.Core" version="1.31.0" targetFramework="monoandroid81" />
  <package id="Crashlytics" version="1.5.0" targetFramework="monoandroid81" />
  <package id="Fabric" version="1.5.0" targetFramework="monoandroid81" />
  <package id="Glide.Xamarin" version="4.1.1" targetFramework="monoandroid81" />
  <package id="Karamunting.Android.Felipecsl.GifImageView" version="2.3.0.1" targetFramework="monoandroid81" />
  <package id="Mobilist.AdvancedTimer.Forms.Plugin" version="1.0.1.0" targetFramework="monoandroid81" />
  <package id="MvvmCross" version="5.7.0" targetFramework="monoandroid81" />
  <package id="MvvmCross.Binding" version="5.7.0" targetFramework="monoandroid81" />
  <package id="MvvmCross.Core" version="5.7.0" targetFramework="monoandroid81" />
  <package id="MvvmCross.Droid.Support.Core.UI" version="5.7.0" targetFramework="monoandroid81" />
  <package id="MvvmCross.Droid.Support.Fragment" version="5.7.0" targetFramework="monoandroid81" />
  <package id="MvvmCross.Droid.Support.V7.AppCompat" version="5.7.0" targetFramework="monoandroid81" />
  <package id="MvvmCross.Droid.Support.V7.RecyclerView" version="5.7.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Platform" version="5.7.0" targetFramework="monoandroid81" />
  <package id="MvvmCross.Plugin.Color" version="5.7.0" targetFramework="monoandroid81" />
  <package id="MvvmCross.Plugin.DownloadCache" version="5.7.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Plugin.File" version="5.7.0" targetFramework="monoandroid80" />
  <package id="MvvmCross.Plugin.Messenger" version="5.7.0" targetFramework="monoandroid81" />
  <package id="MvvmCross.Plugin.Visibility" version="5.7.0" targetFramework="monoandroid80" />
  <package id="Naxam.ImagePicker.Droid" version="1.2.0" targetFramework="monoandroid81" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="monoandroid81" />
  <package id="Plugin.CurrentActivity" version="2.1.0.2" targetFramework="monoandroid81" />
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="monoandroid81" />
  <package id="Refractored.GifImageView" version="2.0.0" targetFramework="monoandroid81" />
  <package id="sameerIOTApps.Plugin.SecureStorage" version="2.5.0" targetFramework="monoandroid81" />
  <package id="SQLiteNetExtensions" version="2.0.0" targetFramework="monoandroid81" />
  <package id="sqlite-net-pcl" version="1.4.118" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.10" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.core" version="1.1.10" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.10" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.10" targetFramework="monoandroid81" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="monoandroid80" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="monoandroid81" />
  <package id="System.Runtime" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="monoandroid81" />
  <package id="Xam.Plugin.Connectivity" version="3.2.0" targetFramework="monoandroid80" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.1.1.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.1.1.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.1.1.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Annotations" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Compat" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Constraint.Layout" version="1.1.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Constraint.Layout.Solver" version="1.1.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.UI" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.Utils" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.CustomTabs" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Design" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Emoji" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Emoji.AppCompat" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Emoji.Bundled" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Exif" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Fragment" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Media.Compat" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Transition" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v4" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.CardView" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.0.1.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Auth" version="1.6.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="monoandroid81" />
  <package id="Xamarin.Facebook.Android" version="4.38.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Facebook.AppLinks.Android" version="4.38.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Facebook.Common.Android" version="4.38.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Facebook.Core.Android" version="4.38.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Facebook.Login.Android" version="4.38.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Facebook.Messenger.Android" version="4.38.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Facebook.Places.Android" version="4.38.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Facebook.Share.Android" version="4.38.0" targetFramework="monoandroid81" />
  <package id="Xamarin.FFImageLoading" version="2.3.6" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Analytics" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Analytics.Impl" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Common" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Core" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Iid" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.JobDispatcher" version="0.8.5" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Messaging" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Forms" version="1.3.1.6296" targetFramework="monoandroid81" />
  <package id="Xamarin.Google.ZXing.Core" version="3.3.0" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Base" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Basement" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Gcm" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Iid" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Location" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Maps" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="60.1142.1" targetFramework="monoandroid81" />
</packages>